.instamart-section{
    border: 2px solid black;
    margin: 1rem;
    /* padding: 0 1rem; */
    border-radius: 10px;
    padding: 0;
}

.instamart-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(63, 115, 160);
}
.instamart-section > h1{
    margin: 0.5rem;
    color: rgb(130, 85, 85);
}
.instamart-section > p {
    margin: 0.5rem;
}
.instamart-section > .show-hide-btn{
    border: 2px solid black;
    margin: 1rem 0.5rem;
    width: 5%;
    background-color: blue;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
}
.instamart-section > .show-hide-btn:hover{
    cursor: pointer;
}